on: [push]

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: A job to say hello
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Testing
        uses: ./
        id: test
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
