name: send-slack-msg-on-manifest-change
on:
  push:
    branches:
      - master
      - development

jobs:

  send-slack-notification:
    runs-on: ubuntu-latest
    steps:
      - name: Posts that manifest style has been changed
        uses: slackapi/slack-github-action@v1.21.0
        with:
          channel-id: C03NC5UBXKK
          slack-message: "Checking wheather it works or not"
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
