name: send-slack-msg-on-manifest-change
on:
  push:
    branches:
      - master
    paths:
      - manifest/manifest.yml

jobs:
  send-slack-notification:
    runs-on: ubuntu-latest
    steps:
      - name: Posts that manifest style has been changed
        uses: slackapi/slack-github-action@v1.21.0
        with:
          channel-id: C03NC5UBXKK
          payload: |
            {
	            "blocks": [
		          {
			          "type": "header",
			          "text": {
				          "type": "plain_text",
				          "text": "Manifest File changed",
				          "emoji": true
			          }
		          },
		          {
			          "type": "section",
			          "text": {
				          "type": "mrkdwn",
				          "text": "Slack manifest file has been changed on branch `master`. Update the manifest file at api.slack.com"
			          },
			          "accessory": {
				          "type": "button",
				          "text": {
					          "type": "plain_text",
					          "text": "Go to new manifest",
					          "emoji": true
				            },
				          "style": "primary",
				          "url": "https://google.com"
			          }
		          }
	        ]
          }

        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
